# TODO(kbobyrev): Fill year automatically.
snippet head "standard personal project file heading"
// 2018 Kirill Bobyrev
//
// This file is distributed under the Apache 2.0 License. See LICENSE for
// details.
//
//! ${2:Project name}

$0
endsnippet
